node_modules
geoserver_data

# Ignore all subdirectories inside geoserver_data
geoserver_data/*/

# EXPLICITLY ignore the dangerous root files (Crucial!)
geoserver_data/tomcat_pass.txt
geoserver_data/s3.properties
geoserver_data/controlflow.properties
.env